{% extends "base.html.twig" %}

{% block body %}
    <div style="width:50%; margin-left:10px; margin-top:10px">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.grade) }}
        {{ form_row(form.submit) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
